@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --font-serif: "Inter", sans-serif;
  --font-mono: "Inter", sans-serif;
  --bs-font-monospace: "Inter", sans-serif;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}
